body {
    background-color: yellow;
}

#quiz-container {
    padding: 30px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question {
    font-size: 40px; 
    color: white;
}

#answer-buttons {
    margin: 80px;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    margin-left: 20px;
    margin-right: 20px;
}
